<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Css/Home.css">
    <title>Challenge Templates</title>
</head>
<body>
    <nav class="header-container">
        <div class="header-name">
            <p class="header-name-text">Johnathan Specter</p>
        </div>
        <ul class="header-items-container">
            <li class="header-items-list"><a href="#">Articles</a></li>
            <li class="header-items-list"><a href="#">Chats</a></li>
            <li class="header-items-list"><a href="#">Awards</a></li>
            <li class="header-items-list"><a href="#">About</a></li>
        </ul>
    </nav>
    <section>
        <h1>
            Helping companies build 
            Better, scalable software.
        </h1>
        <p>
            Award-winning web developer and author, with over 15+ years of working
            experience with Fortune 500 companies like Apple, Google, Facebook, and
            more.
        </p>
    </section>
    <section>
        img
    </section>
</body>
</html>