<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Css/Home.css">
    <title>Challenge Templates</title>
</head>
<body>
    <nav class="header-container">
        <div class="header-name">
            <p class="header-name-text">Johnathan Specter</p>
        </div>
        <ul class="header-items-container">
            <li class="header-items-list"><a href="#"> <span class="header-item-span">Articles</span> </a></li>
            <li class="header-items-list"><a href="#"> <span class="header-item-span">Chats</span> </a></li>
            <li class="header-items-list"><a href="#"> <span class="header-item-span">Awards</span> </a></li>
            <li class="header-items-list"><a href="#"> <span class="header-item-span">About</span> </a></li>
        </ul>   
        <div class="header-button-container">
            <button class="header-button">Get in touch</button>
        </div>
    </nav>
    <section>
        <div class="container-text-title-body">
            <h1 class="text-title-body">
                Helping companies build
                better, scalable software.
            </h1>
        </div>
        <div class="container-text-text-body">
            <p class="text-text-body">
                Award-winning web developer and author, with over 15+ years of working 
                experience with Fortune 500 companies like Apple, Google, Facebook, and
                more.
            </p>
        </div>
    </section>
    <section class="container-imgs-logo">
        <div class="img-body-logo-tinny"><img src="../Assets/img/Logos/Walmart.svg" alt="Walmart"></div>
        <div class="img-body-logo-tinny"><img src="../Assets/img/Logos/JP_Morgan.svg" alt="JP Morgan"></div>
        <div class="img-body-logo-tinny"><img src="../Assets/img/Logos/Visa.svg" alt="Visa"></div>
        <div class="img-body-logo-tinny"><img src="../Assets/img/Logos/Tinder.svg" alt="Tinder"></div>
        <div class="img-body-logo"><img src="../Assets/img/Logos/Samsung.svg" alt="Samsung"></div>
        <div class=""><img src="../Assets/img/Logos/Verizon.svg" alt="Verizon"></div>
    </section>
    <section class="container-imgs-body">
        <div class="img-spense">
            <img src="../Assets/img/Spense.png" alt="Spense">
        </div>
        <div class="img-yelp">
            <img src="../Assets/img/YelpCamp.png" alt="YelpCamp">
        </div>
    </section>
    <section>
        <div></div>
        <div></div>
    </section>
</body>
</html>